Repository BernardUriza/free-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: reject-large-md, yaml-syntax-check, json-syntax-check

.pre-commit-config.yaml:

# Free Intelligence â€” Pre-commit hooks
# Enforces NO_MD policy and other quality gates

repos:
  # Python code quality
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)

  # Custom local hooks
  - repo: local
    hooks:
      - id: reject-large-md
        name: Reject large markdown files (>150 lines)
        entry: .git-hooks/reject_large_md.py
        language: system
        types: [markdown]
        verbose: true

      - id: yaml-syntax-check
        name: Validate YAML syntax
        entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:] if f.endswith(('.yaml', '.yml'))]"
        language: system
        types: [yaml]

      - id: json-syntax-check
        name: Validate JSON syntax
        entry: python3 -c "import json; import sys; [json.load(open(f)) for f in sys.argv[1:] if f.endswith('.json')]"
        language: system
        types: [json]

docs: Add comprehensive diarization user configuration guide
  DIARIZATION_USER_CONFIG.md
Due: reject-large-md

chore: Clean up root directory - move docs to archive
  BOTTLENECK_SUMMARY.txt
  QUICKSTART.md
  docs/archive/ANALYSIS_INDEX.md
  docs/archive/DEVOPS_STRATEGY.md
  docs/archive/DIARIZATION_JOB_HISTORY.md
  docs/archive/DIARIZATION_LOWPRIO.md
  docs/archive/DIARIZATION_UI_A11Y.md
  docs/archive/DIARIZATION_UI_UPDATE.md
  docs/archive/DIARIZATION_V2_DEPLOYMENT.md
  docs/archive/DIARIZATION_V2_SUMMARY.md
  docs/archive/INCONSISTENCIES_FIXED.md
  docs/archive/PERFORMANCE_QUICK_REFERENCE.md
Due: reject-large-md

chore: Remove garbage files from root directory
  =41.0.0
  RUN_ID=
  aurity_regression_templates.zip
  cat
  test_chat.sh
  test_scenario_1.sh
  tests/test_transcription_perf_improvements.py
Due: none

fix(config): Resolve Python import errors in VS Code
  .vscode/settings.json
  backend/__init__.py
  backend/api/__init__.py
  backend/cli/__init__.py
  pyrightconfig.json
Due: json-syntax-check

feat: add type checking automation with Pyright CLI integration
  Makefile
  backend/types.py
  docs/TYPE_CHECKING_AUTOMATION_GUIDE.md
  docs/TYPE_CHECKING_CHEATSHEET.md
  docs/TYPE_CHECKING_QUICKSTART.md
  docs/TYPE_CHECKING_README.md
  pyrightconfig.json
  tools/detect_type_errors.py
  tools/type_check_parsers.py
Due: reject-large-md, json-syntax-check

docs: update CLAUDE.md with finalized type checking metrics and completion status
  claude.md
Due: reject-large-md

docs: add comprehensive clean code refactoring guide
  backend/audit_logs.py
  backend/fi_exporter.py
  backend/search.py
  docs/CLEAN_CODE_REFACTORING.md
  docs/MIGRATION_EXAMPLES.md
  ops/type_check_results/results.json
Due: reject-large-md, json-syntax-check

docs: add clean code quickstart guide for developers
  docs/CLEAN_CODE_QUICKSTART.md
Due: reject-large-md

feat: Phase 5 - Add DiarizationService and endpoint migration examples
  backend/api/audit.py
  backend/api/sessions.py
  backend/audit_logs.py
  backend/container.py
  backend/fi_exporter.py
  backend/search.py
  backend/services/__init__.py
  backend/services/diarization_service.py
  docs/DIARIZATION_ENDPOINT_MIGRATION_EXAMPLE.md
  docs/PHASE5_MIGRATION_IN_PROGRESS.md
  ops/type_check_results/results.json
Due: reject-large-md, json-syntax-check

test: add comprehensive unit tests for DiarizationService
  tests/test_diarization_service.py
Due: none

docs: Phase 5 summary - endpoint migration progress and completion status
  docs/PHASE5_SUMMARY.md
Due: reject-large-md

feat: Phase 5 - Complete diarization endpoint migration
  backend/api/diarization.py
  tests/test_diarization_endpoint.py
Due: none

docs: Phase 5 completion summary
  docs/PHASE5_COMPLETION.md
Due: reject-large-md

test: Phase 5 - Add comprehensive service unit tests
  tests/test_audit_service.py
  tests/test_corpus_service.py
  tests/test_session_service.py
Due: none

feat: Phase 5 - Migrate sessions.py endpoints to service layer
  backend/api/sessions.py
Due: none
