Repository BernardUriza/free-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: reject-large-md, yaml-syntax-check, json-syntax-check

reject-large-md:
  name: Reject large markdown files (>150 lines)
  entry: .git-hooks/reject_large_md.py
  language: system
  verbose: true

yaml-syntax-check:
  name: Validate YAML syntax
  entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:] if f.endswith(('.yaml', '.yml'))]"
  language: system

json-syntax-check:
  name: Validate JSON syntax
  entry: python3 -c "import json; import sys; [json.load(open(f)) for f in sys.argv[1:] if f.endswith('.json')]"
  language: system

fix(test): correct p95 edge case expectations for n=2
  tests/test_llm_metrics.py
Due: none

feat(gov): Implement FI-GOV-TOOL-001 - Trello Artifacts Guard
  .github/pull_request_template.md
  .github/workflows/trello-guard.yml
  docs/archive/GOVERNANCE_GUARD.md
  docs/governance/README.md
  docs/governance/butler_rules.yaml
  docs/governance/trello_commands.sh
  tools/ci_guard_trello.sh
Due: reject-large-md, yaml-syntax-check

feat(FI-API-FEAT-013, FI-UI-FEAT-203): Export end-to-end with manifest + verification
  backend/api/exports.py
  backend/fi_consult_service.py
  backend/security/__init__.py
  backend/security/ip_validator.py
  backend/security/lan_guard.py
  claude.md
  package.json
  pnpm-lock.yaml
  tests/test_lan_security.py
Due: reject-large-md, yaml-syntax-check, json-syntax-check

bitácora: CORS fix; API Integration start; Timeline 2-panel start
  ops/bitacora/2025/2025-10.jsonl
  ops/bitacora/2025/2025-10.md
Due: reject-large-md

feat(FI-DATA-RES-021): Evidence Packs - clinical source extraction with SHA256
  backend/api/evidence.py
  backend/api/kpis.py
  backend/evidence_pack.py
  backend/fi_consult_service.py
  backend/kpis_aggregator.py
  backend/kpis_middleware.py
  backend/llm_middleware.py
  claude.md
  config/extract/clinical_min.yaml
  tests/smoke_test_kpis_api.sh
  tests/test_evidence_pack.py
  tests/test_kpis_aggregator.py
  tools/smoke.sh
Due: reject-large-md, yaml-syntax-check

eval: create backend/main.py entrypoint + persist LLM endpoint
  .env.eval
  backend/main.py
Due: none

fix(providers): Update Claude/Ollama for API v0.12+
  backend/providers/claude.py
  backend/providers/ollama.py
  config/fi.policy.yaml
Due: yaml-syntax-check

fix(security): Claude 4.5 + egress allowlist policy
  backend/policy_enforcer.py
  backend/providers/claude.py
  config/fi.policy.yaml
Due: yaml-syntax-check

feat(security): strict egress allowlist + DI for PolicyEnforcer + tests
  backend/dependencies.py
  backend/policy_enforcer.py
  backend/providers/claude.py
  tests/test_policy_enforcement_security.py
Due: none

feat(di): integrate PolicyEnforcer DI into LLM providers + tests
  backend/providers/claude.py
  backend/providers/ollama.py
  tests/test_provider_di.py
Due: none

feat(FI-RELIABILITY-STR-001): Complete chaos engineering suite - 4/4 drills operational
  scripts/run_all_drills.sh
  scripts/run_chaos_drill.py
Due: none

feat(config): add safe defaults for CPU + LLM timeouts
  .env.diarization.example
Due: none

feat(llm): readiness gate + graceful degradation + env timeouts
  backend/api/diarization.py
  backend/diarization_service.py
Due: none

feat(FI-RELIABILITY-IMPL-002): Complete chaos drills with real concurrency + multi-platform
  scripts/run_chaos_drill.py
Due: none

perf(asr): default to small INT8 + cpu_threads/num_workers
  backend/whisper_service.py
Due: none

feat(FI-UI-FEAT-204): unified system health API endpoint
  backend/api/system.py
  backend/fi_consult_service.py
  tests/test_system_health.py
Due: none

docs: Add comprehensive inconsistencies audit report
  INCONSISTENCIES_FIXED.md
Due: reject-large-md

fix(FI-BACKEND-FEAT-004): Fix UI freeze - persist total_chunks to HDF5 immediately
  backend/diarization_worker_lowprio.py
  storage/audio/55c6531b-14d5-485e-aab1-fbf9b6b4429e/1761987931054.manifest.json
  storage/audio/55c6531b-14d5-485e-aab1-fbf9b6b4429e/1761987931054.mp3
  storage/audio/7af1ad58-8257-498a-8583-7f6a17b28279/1761987931061.manifest.json
  storage/audio/7af1ad58-8257-498a-8583-7f6a17b28279/1761987931061.mp3
  storage/audio/b6bd8f99-ae9a-4bf4-a7cf-773fc282ca37/1761987931032.manifest.json
  storage/audio/b6bd8f99-ae9a-4bf4-a7cf-773fc282ca37/1761987931032.mp3
Due: json-syntax-check

perf(FI-BACKEND-FEAT-004): Implement 4 quick wins for transcription speedup
  ANALYSIS_INDEX.md
  BOTTLENECK_SUMMARY.txt
  PERFORMANCE_QUICK_REFERENCE.md
  PERFORMANCE_QUICK_WINS.yaml
  backend/diarization_service.py
  backend/whisper_service.py
  docs/TRANSCRIPTION_PERFORMANCE_ANALYSIS.md
  storage/audio/ad29d0f7-dd45-4313-a6b9-bcc82d2eebd4/1761988054715.manifest.json
  storage/audio/ad29d0f7-dd45-4313-a6b9-bcc82d2eebd4/1761988054715.mp3
  test_transcription_perf_improvements.py
Due: reject-large-md, yaml-syntax-check, json-syntax-check

feat(FI-BACKEND-FEAT-004): Add user-configurable diarization settings UI
  backend/api/diarization.py
Due: none

Path conditions:
  reject-large-md: any of: \.(md|markdown|mdown)$
  yaml-syntax-check: any of: \.(yaml|yml)$
  json-syntax-check: any of: \.json$
